body {
    background-color: #81F781;
    font-size: 12pt;
    color: #000099;
}
h1 {
    background-color: #01DFD7;
    border-style: none none solid solid;
    border-width: 0px 0px 2px 5px;
    padding: 1px 5px 1px 5px;
    font-size: 15pt;
    color: #330000;
}
p {
    font-size: 10pt;
    color: #000000;
}
/* --- ボックス --- */
div.section {
width: 300px; /* ボックスの幅 */
height: 600px; /* ボックスの高さ */
overflow: auto;
background-color: #81F781; /* ボックスの背景色 */
border: none; /* ボックスの境界線 */
font-size: 80%; /* 文字サイズ */
color: #606060; /* 文字色 */
}

/* --- ボックス内の段落 --- */
div.section p {
margin: 1em 10px; /* 段落のマージン（上下、左右） */
}
div.inner {
padding: 5px; /* 内部のパディング */
background: #64c2f2; /* 内部の背景 */
}

textarea.tweet{

width:300px;
height:70px;
font-size:12px;
resize:none;

}
